body { font-family: Arial; }

nav a {
    margin-right: 15px;
    text-decoration: none;
}

table {
    width: 70%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
}

button {
    padding: 6px 12px;
}